@model Todo.Models.AddTask.AddTaskRequest
@{
}
<div class="mt-4">
    <h2>Add Todo Here</h2>

    <form method="post" class="form-group">
        <input class="form-control mt-4" type="text" placeholder="enter task title" asp-for="Title" required/>
        <input class="form-control mt-4" type="text" placeholder="enter task description" asp-for="Description" required/>
        <button class="btn btn-dark mt-4" type="submit">Add Task</button>
    </form>
    </div>